{% set title = "О компании" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}
{% include "html/includes/breadcrumbs.html" %}

<section class="company-page">

  <div>
    <div class="title-wrapper">
      <h2 class="title">
        О компании
      </h2>
    </div>
    <div class="company-page__text-box">
      <p class="company-page__text company-page__text--strong">
        Venilen уже долгие годы занимается производством премиум-товаров для домашних животных и является лидером
        отрасли.
      </p>
      <p class="company-page__text">
        В процессе разработки нашей продукции мы уделяем особое внимание практичности и комфорту, поскольку в вопросах
        качества мы никогда не идем на компромисс.
      </p>
      <p class="company-page__text">
        В процессе разработки нашей продукции мы уделяем особое внимание практичности и комфорту, поскольку в вопросах
        качества мы никогда не идем на компромисс.
      </p>
    </div>
  </div>
  <div class="swiper-area">
    <div class="swiper swiper-company">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/img/img1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="assets/img/img2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="assets/img/img3.jpg" alt="">

        </div>
        <div class="swiper-slide">
          <img src="assets/img/img4.jpg" alt="">
        </div>

      </div>

    </div>

    <div class="swiper-pagination swiper-company__swiper-pagination">

    </div>

  </div>

</section>

{% endblock %}