{% set title = "Ссылки" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}


{% include "html/includes/banner.html" %}



<section class="categories section-style">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title">
        Товары для кошек
      </h2>
    </div>
    <ul class="categories__list">
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cc1.jpg" alt="">
          <p class="categories__text">Корма</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cc2.jpg" alt="">
          <p class="categories__text">Лотки</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cc3.jpg" alt="">
          <p class="categories__text">Переноски</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cc4.jpg" alt="">
          <p class="categories__text">Лежаки и домики</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cc5.jpg" alt="">
          <p class="categories__text">Игрушки</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cc6.jpg" alt="">
          <p class="categories__text">Кормушки</p>
        </a>
      </li>

    </ul>
  </div>
</section>

<section class="categories section-style">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title">
        Товары для собак
      </h2>
    </div>
    <ul class="categories__list">
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cd1.jpg" alt="">
          <p class="categories__text">Корма</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cd2.jpg" alt="">
          <p class="categories__text">Лотки</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cd3.jpg" alt="">
          <p class="categories__text">Переноски</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cd4.jpg" alt="">
          <p class="categories__text">Лежаки и домики</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cd5.jpg" alt="">
          <p class="categories__text">Игрушки</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="" class="categories__link">
          <img src="../../assets/img/cd6.jpg" alt="">
          <p class="categories__text">Кормушки</p>
        </a>
      </li>

    </ul>
  </div>
</section>




{% include "html/includes/seller-swiper.html" %}

<section class="ad-banner">
  <div class="container">
    <img src="assets/img/ad-banner.jpg" alt="ad-banner">
  </div>
</section>

{% include "html/includes/popular-swiper.html" %}


<section class="call">
  <div class="container">
    <div class="call__box">
      <h2 class="title">
        Закажите звонок
      </h2>
      <form class="call__form" action="">
        <div class="call__form-box">
          <input class="input call__input" type="text" placeholder="Имя">
          <input class="input call__input" type="tel" placeholder="Телефон">
          <button type="submit" class="button call__btn">Заказать звонок</button>
        </div>
        <label for="checkbox111" class="order-modal-form__check checkbox">
          <input class="checkbox__input" type="checkbox" name="data" id="checkbox111">
          <span class="checkbox__custom"></span>
          <span class="checkbox__text"> Я согласен с <a class="checkbox__text--link" href="#">условиями передачи
              данных</a></span>
        </label>
      </form>
    </div>
  </div>
</section>

{% endblock %}