{% set title = "Акции" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}
{% include "html/includes/breadcrumbs.html" %}
<section class="results stock">

  <div class="title-wrapper">
    <h2 class="title">
      Акции
    </h2>
  </div>


  <div class="stock__list">
    <a class="stock__item">
      <img src="assets/img/stock.jpg" alt="" class="stock__img">
      <div class="stock__item-box">
        <p class="stock__item-title">
          Меняем старое на новое!
        </p>
        <p class="stock__item-text">
          Акция действует до конца месяца.
        </p>
      </div>
    </a>
    <a class="stock__item">
      <img src="assets/img/stock.jpg" alt="" class="stock__img">
      <div class="stock__item-box">
        <p class="stock__item-title">
          Меняем старое на новое!
        </p>
        <p class="stock__item-text">
          Акция действует до конца месяца.
        </p>
      </div>
    </a>
    <a class="stock__item">
      <img src="assets/img/stock.jpg" alt="" class="stock__img">
      <div class="stock__item-box">
        <p class="stock__item-title">
          Меняем старое на новое!
        </p>
        <p class="stock__item-text">
          Акция действует до конца месяца.
        </p>
      </div>
    </a>
    <a class="stock__item">
      <img src="assets/img/stock.jpg" alt="" class="stock__img">
      <div class="stock__item-box">
        <p class="stock__item-title">
          Меняем старое на новое!
        </p>
        <p class="stock__item-text">
          Акция действует до конца месяца.
        </p>
      </div>
    </a>

  </div>


  <!-- <div class="noresults__box">
    <p class="noresults__text">
      В корзине нет ни одного товара. Вы можете подобрать интересующие вас товары в нашем каталоге товаров.
    </p>

    <a href="" class="button noresults__btn">
      Продолжить покупки
    </a>
  </div> -->

</section>



{% endblock %}