.products-page__body-list.horizontal
  grid-template-columns: 1fr
  gap: 0
  padding: 0
  margin-bottom: 20px
  .card
    grid-template-areas: "img title btn" "img art btn" "img delivery btn" "img variant btn"
    gap: 10px 30px
    box-shadow: none
    border-radius: 0
    align-items: center
    align-content: center
    grid-template-columns: 130px 2fr auto
    border-right: 0
    border-left: 0
    border-top: 0
    border-bottom: 1px solid #A3A3A3
    &:last-of-type
      border-bottom: 0
  .card__variants-box
    grid-area: variant
    justify-items: start
    justify-content: start
    padding-top: 10px
    padding-bottom: 0
  hr 
    display: none
  .card__img-wrapper
    grid-area: img
    img
      max-width: 130px
  .card__title
    grid-area: title
  .card__delivery
    grid-area: delivery
  .card__article
    grid-area: art
  .card__btm-box
    grid-area: btn
    align-self: stretch
    hr
      display: none
  .products-page__body-item
    border-bottom: 1px solid #A3A3A3
  .card__btn-wrapper
    grid-auto-flow: row
  .card__price-box
    grid-template-columns: auto auto