.tab
  display: flex
  flex-direction: column
  &__nav > input[type="radio"],
  &__nav-mob  > input[type="radio"]
    display: none
  &__content
    display: none
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid #A3A3A3
    background: #FFF
  &__content-box
    display: grid
    gap: 10px
  &__content-text
    color: #040404
    font-size: 15px
    font-weight: 400
    &.marker
      padding-left: 12px
      position: relative
      &::before
        border-radius: 50%
        content: ""
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 6px
        height: 6px
        background: $orange
  &__nav,
  &__nav-mob
    display: flex
    justify-content: start
    background: #D4D6D8
    order: -1
    border-radius: 5px
    & > label
      cursor: pointer
      display: block
      padding: 8px 20px
      color: #2B2B2B
      font-size: 15px
      font-weight: 400
      text-decoration: none
      border: 1px solid #A3A3A3
      background: #ECECEC
      -webkit-appearance: button
      transition: color $anim, background $anim, font-weight $anim
    & > input[type="radio"]:checked + label
      background: #FFF
      cursor: default
      color: $orange
      font-weight: 700
  &__label
    &:first-of-type
      border-radius: 5px 0 0 5px
    &:last-of-type
      border-radius: 0 5px 5px 0

#content-1:has(~ .tab__nav > #tab-btn-1:checked),
#content-2:has(~ .tab__nav > #tab-btn-2:checked)
  display: block

#order-page-content-1:has(~ .tab__nav > #order-page-tab-btn-1:checked),
#order-page-content-2:has(~ .tab__nav > #order-page-tab-btn-2:checked)
  display: block
